extends layout
script(type="application/javascript", src="https://code.jquery.com/jquery-2.1.3.min.js")
block content
 .navbar.navbar-default(role='navigation')
     .container
         .navbar-header
             button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                 span.sr-only Toggle navigation
                 span.icon-bar
                 span.icon-bar
                 span.icon-bar
             a.navbar-brand(href="") User!
         .navbar-collapse.collapse
             ul.nav.navbar-nav
                 li.active
                     a(href='#') Link
                 li
                     a(href='#') Link
                 li
                     a(href='#') Link
                 li.dropdown
                     a.dropdown-toggle(href='#', data-toggle='dropdown')
                         | Dropdown 
                         span.caret
                     ul.dropdown-menu(role='menu')
                         li
                             a(href='#') Action
                         li
                             a(href='#') Another action
                         li
                             a(href='#') Something else here
                         li.divider
                         li.dropdown-header Nav header
                         li
                             a(href='#') Separated link
                         li
                             a(href='#') One more separated link
 .container.text-center
     h3.bg-warning #{user.username}

     h1.
         List of Rides
     br
     .row
         each ride in rides
             .col-md-4.col-sm-6.col-xs-12
                 if ride.roundTrip
                     .panel.panel-success
                         .panel-heading(style='text-align: center') #{ride.destination}
                         .panel-body
                             p #[text.text-info Leaving:] #{ride.dateLeaving[1]}
                             p #[text.text-info Returning:] #{ride.dateReturning[1]}
                             p #[text.text-info Spots available:] #{ride.availableSeats} 
                         .panel-footer.clearfix
                             .pull-right
                                 .btn.btn-warning
                                     | See Ride
                             .pull-left
                                 button.btn.btn-default(type='button', data-toggle='modal', data-target='#editRide')
                                     | Edit

                             #editRide.modal.fade(tabindex='1', role='dialog', aria-labelledby='editRideLabel', aria-hidden='true')
                                 .modal-dialog
                                     .modal-content
                                         .modal-header
                                             button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                 span(aria-hidden='true') ×
                                             h4#editRideLabel.modal-title Edit Ride
                                         .modal-body
                                             form(role='form', action="/addride",method="post")
                                                .form-group
                                                    input.form-control(type="text", name="destination", placeholder="#{ride.destination}")
                                                .form-group
                                                    input.form-control(type="text", name="availableSeats", placeholder="Available Seats")
                                                .form-group
                                                  .checkbox
                                                    input(type="checkbox", name="roundTrip", checked=(true || false))
                                                    | Round trip

                                                .form-group
                                                  #dtpLeav.input-group.date
                                                    input.form-control(type="text", name="dateLeaving", placeholder="Date leaving")
                                                    span.input-group-addon
                                                      span.glyphicon.glyphicon-calendar
                                                  script(type="text/javascript").
                                                    $(function() {
                                                    $("#dtpLeav").datetimepicker({
                                                      stepping: 15
                                                      });
                                                    });

                                                .form-group
                                                  #dtpRet.input-group.date
                                                    input.form-control(type="text", name="dateReturning", placeholder="Date returning")
                                                    span.input-group-addon
                                                      span.glyphicon.glyphicon-calendar
                                                  script.
                                                    $(function() {
                                                    $("#dtpRet").datetimepicker({
                                                      stepping: 15
                                                      });
                                                    });
                                         .modal-footer
                                             button.btn.btn-default(type="button", data-dismiss='modal') Close
                                             button.btn.btn-primary(type="button") Update

                 else
                     .panel.panel-default
                         .panel-heading(style='text-align: center') #{ride.destination}
                         .panel-body
                             p Departure: #{ride.dateLeaving[1]} 
                             p Spots available: #{ride.availableSeats[1]}
                             p.text-danger Not a round trip.
                         .panel-footer.clearfix
                             .pull-right
                                 .btn.btn-warning
                                     | See Ride
                             .pull-left
                                 .btn.btn-default
                                     | Edit