extends layout
script(type="application/javascript", src="https://code.jquery.com/jquery-2.1.3.min.js")
block content
 .navbar.navbar-default(role='navigation')
     .container
         .navbar-header
             button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                 span.sr-only Toggle navigation
                 span.icon-bar
                 span.icon-bar
                 span.icon-bar
             a.navbar-brand(href="") User!
         .navbar-collapse.collapse
             ul.nav.navbar-nav
                 li.active
                     a(href='#') Link
                 li
                     a(href='#') Link
                 li
                     a(href='#') Link
                 li.dropdown
                     a.dropdown-toggle(href='#', data-toggle='dropdown')
                         | Dropdown 
                         span.caret
                     ul.dropdown-menu(role='menu')
                         li
                             a(href='#') Action
                         li
                             a(href='#') Another action
                         li
                             a(href='#') Something else here
                         li.divider
                         li.dropdown-header Nav header
                         li
                             a(href='#') Separated link
                         li
                             a(href='#') One more separated link
 .container.text-center
     well.alert-success #{info}
     h3.bg-warning #{user.username} 

     h1.
         List of Rides
     br
     .row
         each ride in rides
             .col-md-4.col-sm-6.col-xs-12
                 if ride.roundTrip
                     .panel.panel-success
                         .panel-heading(style='text-align: center') #{ride.destination}
                         .panel-body
                             p #[text.text-info Leaving:] #{ride.dateLeaving[1]}
                             p #[text.text-info Returning:] #{ride.dateReturning[1]}
                             p #[text.text-info Spots available:] #{ride.availableSeats} 
                         .panel-footer.clearfix
                              .pull-right
                                 .btn.btn-warning
                                     | See Ride
                              if user === user.username
                                 .pull-left
                                    a.btn.btn-default(href='/users/#{user.username}/#{ride._id}')
                                        | Edit
                 else
                     .panel.panel-default
                         .panel-heading(style='text-align: center') #{ride.destination}
                         .panel-body
                             p Departure: #{ride.dateLeaving[1]} 
                             p Spots available: #{ride.availableSeats[1]}
                             p.text-danger Not a round trip.
                         .panel-footer.clearfix
                             .pull-right
                                 .btn.btn-warning
                                     | See Ride
                              if user === user.username
                                .pull-left
                                    a.btn.btn-default(href='/users/#{user.username}/#{ride._id}')
                                        | Edit
                              